<!DOCTYPE html>
<html class="uk-height-1-1">
  <head>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <title>Forgot | RFM</title>
    <link rel="icon" href="http://res.cloudinary.com/kunagpal/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.24.3/css/uikit.almost-flat.min.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-72991817-1', 'auto');ga('send', 'pageview');
    </script>
  </head>
  <body class="uk-align-center uk-height-1-1 uk-vertical-align uk-container" style="margin:auto">
    <div class="uk-vertical-align-middle uk-grid uk-align-center">
      <h3 class="uk-width-1-1 uk-width-large-1-2">
        Enter the email address associated with your Recommend FM<sup><i class="uk-icon-trademark"></i></sup> account in
        the field below.<br><br> If the email address is valid, a password reset link shall be sent to your inbox.<br><br>
        <i class="uk-icon-info-circle"></i> For the purposes of security, this link is valid for one use only, and has a
        lifespan of one hour.<br><br>(Valid for non-social login users only. If you have a valid account and have not
        received an email within ten minutes, do retry.)
      </h3>
      <form class="uk-width-1-1 uk-form uk-block uk-width-large-1-2 uk-text-center" action="/forgot" method="post">
        <div class="uk-form-row uk-block-small">
          <label for="email" class="uk-form-label uk-text-large"></label>
          <input id="email" class="uk-form-large uk-width-small-2-3 uk-width-medium-3-5" type="email" placeholder="name@site.com" required>
        </div>
        <div class="uk-form-row uk-text-center uk-block-small">
          <input type="submit" style="color:white;" class=" uk-width-small-2-3 uk-width-medium-3-5 uk-button-primary uk-button uk-button-large" value="Go!">
        </div>
      </form>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.24.3/js/uikit.min.js"></script>
</html>